<!DOCTYPE html>
<html lang="fr">
	<head>

		<% include ../partials/min-head %>
		<link media="all" type="text/css" rel="stylesheet" href="/css/login.css">
		<link media="all" type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css">

	</head>
	<body class="container-fluid">
		<div class="row">
			<section id="page-login" class="col-sm-3 not-float">
				<form method="POST" action="/login" accept-charset="UTF-8">
					<ul>
						<li>
							<label for="login">Login :</label>
							<input name="username" type="text" value="" id="username" placeholder="Login">
						</li>
						<li>
							<label for="password">Password:</label>
							<input name="password" type="password" value="" id="password" placeholder="Password">
						</li>
						<input class="btn btn-validate" type="submit" value="Connexion">
					</ul>
				</form>
			</section>
		</div>
		<% include ../partials/footer %>
	</body>
	<script src="/jquery/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>
